.DS_Store
._DS_Store
*.DS_Store
*._DS_Store

.localized
._localized
*.localized
*_.localized

__pycache__/

venv
env

.env
.vscode

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/